{% extends 'padre.html' %}


{% block bloqueQueCambia %}

<div class="cont-tittle">
    <div class="tittle-subtittle">
      <br>
      <br>
        <h1 class="tittle">Mecanicos</h1>
        <h3>Lista de mecanicos registrados.</h3>
        <br>
    
    {% for mecanico in mecanicos %}
        
        <li> {{mecanico}} 
            
            {% if user.is_authenticated %}
                     
                     {% if url %}
                     
                     
                        
                     {% endif %}


                
                {% else %}
                    
                {% endif %}
                
          
          
            <br>
            <br>
        </li>
        

         

    {% endfor %}
      
    
    
    {% if user.is_authenticated %}
                     
    {% if url %}
    
    
       
    {% endif %}
   

{% else %}
   
{% endif %}

    </div>
    <br>

</div>

{% endblock bloqueQueCambia  %}

