{% extends 'padre.html' %}


{% block bloqueQueCambia %}

<div class="cont-tittle">
    <div class="tittle-subtittle">
      <br>
      <br>
        <h1 class="tittle">Mecanicos</h1>
        <h3>Lista de mecanicos registrados.</h3>
        <br>
    
    {% for mecanico in mecanicos %}
        
       
            
            {% if user.is_staff %}
                     
                <li> {{mecanico}} 
                    <a class='btn btn-primary' href="{% url 'deleteMecanico' mecanico.id %}"> Eliminar </a>
                    <a class='btn btn-secondary' href="{% url 'updateMecanico' mecanico.id %}"> Editar </a>
                </li>
                        
                     
            {% else %}

                <li> {{mecanico}} </li>

            {% endif %}
                
         <br>

    {% endfor %}
      
    
    
    {% if user.is_authenticated %}
                     
    {% if url %}
    
    
       
    {% endif %}
   

{% else %}
   
{% endif %}

<a href="{% url 'reparaciones' 0 %}" class='mi-link'><b>Volver</b></a>
    </div>
    <br>

</div>

{% endblock bloqueQueCambia  %}

