{% extends 'padre.html' %}


{% block bloqueQueCambia %}
<div class="cont-tittle">
    <div class="tittle-subtittle">
       <br>
       <br>
        <h3 class='tittle'>Estamos buscando al cliente : <span style='color:white'> {{nombre}}. </span></h3>

        <br>

            {% if cliente %}

                <ul>
                    
                    {% for clientes in cliente %}

                    <li>
                        <h4>{{clientes.nombre}} {{clientes.apellido}} - {{clientes.vehiculo}}<h4>

                    </li>
                        
                    {% endfor %}

                </ul>

            
            {% else %}

            <h3 class='tittle' style='color:white'> No hubo coincidencias.  </h3>

            {% endif %}
            <br>
        <a class='mi-link' href='{% url "BusquedaCliente" %}'>Volver</a>

    <br><br>
</div>
</div> 
{% endblock bloqueQueCambia  %}
    
